.slider-books-cover {
  width: 65px;
  height: 86px;
  cursor: pointer;
}

.slider-history {
  display: flex;
  height: 530px;
}

.slider-history .swiper-slide {
  width: 255px !important;
  height: 470px !important;
}

.slider-history .swiper-pagination {
  bottom: 10px;
  max-height: 24px;
  opacity: 1;
  height: 24px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.slider-history .swiper-pagination .swiper-pagination-bullet-active {
  background: #363636;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.slider-history .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: #363636;
}

.swiper-history .swiper-wrapper {
  display: flex;
  justify-content: center;
}

.mySwiperDown {
  margin-top: 16px;
  padding-bottom: 14px;
}

.swiper-scrollbar-drag {
  bottom: 0;
  height: 6px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid #ff5253;
}

.swiper-slide-visible {
  border-radius: 3px;
}

.swiper-scrollbar-horizontal {
  opacity: 0;
}

.swiper-scrollbar-horizontal_hover {
  opacity: 1;
}

.swiper-scrollbar-drag:first-child {
  display: none;
}

.scrollBar_hidden {
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
}

@media (max-width: 768px) {
  .slider-history .swiper-slide {
    width: 190px !important;
  }
}

@media (max-width: 500px) {
  .slider-history .swiper-slide {
    width: 288px !important;
  }
}
