.button {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f9f9fa;
  top: 0;
  right: 0;
  cursor: pointer;
  outline: none;
  border: none;
}

.left {
  position: absolute;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  height: 2px;
  width: 17.67px;
  left: 33%;
  top: 51%;
  transform: rotate(-45deg) translate(0.5px, -50%);
}

.right {
  position: absolute;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  height: 2px;
  width: 17.67px;
  left: 33%;
  bottom: 51%;
  transform: rotate(45deg) translate(0.5px, 50%);
}

@media (max-width: 400px) {
  .button {
    width: 32px;
    height: 32px;
  }

  .left {
    height: 1.5px;
    width: 11.67px;
    left: 33%;
  }

  .right {
    height: 1.5px;
    width: 11.67px;
    left: 35%;
  }
}
