.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow {
  width: 10.33px;
  height: 5.33px;
}

.arrow-down {
  transform: rotate(180deg);
}
