.container {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 131px;
  height: 24px;
}

.list-container {
  position: relative;
  min-width: 103px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a7a7a7;
  text-align: center;
  cursor: pointer;
}

.button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.drop-arrow {
  width: 10px;
  height: 5px;
}

.list-item {
  position: absolute;
  padding: 5px 0;
  display: block;
  text-align: center;
  top: 25px;
  width: 110px;
  overflow: auto;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgb(191 196 201 / 20%), 0px 3px 4px rgb(191 196 201 / 18%), 0px 1px 5px rgb(191 196 201 / 24%);
}

.active {
  height: 110px;
  transition: 0.5s ease;
}

.list-item_hidden {
  max-height: 0;
  opacity: 0;
  padding: 0;
  transition: 0.5s ease;
}

.rotate {
  transition: all 0.3s ease;
  transform: rotate(180deg);
}

.item {
  padding: 1px;
}

.button-item {
  transition: all 0.3s ease;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: #a7a7a7;
}

.button-item:hover {
  cursor: pointer;
  background: #f8f8f8;
  transition: all 0.3s ease;
}
