.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}

.size {
  font-size: 52px;
  line-height: 64px;
  color: #363636;
}

@media (max-width: 450px) {
  .wrapper {
    font-family: 'Montserrat-semi';
  }

  .size {
    font-size: 26px;
    line-height: 36px;
  }
}
