.form {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrap-input {
  width: 100%;
  display: flex;
  gap: 30px;
}

.button-wrap {
  display: flex;
  gap: 30px;
}

@media (max-width: 768px) {
  .form {
    gap: 31px;
  }
}

@media (max-width: 650px) {
  .wrap-input {
    flex-direction: column;
    gap: 9px;
  }

  .container {
    gap: 9px;
  }

  .button-wrap {
    flex-direction: column;
    align-items: center;
  }
}
