.card-chronicle {
  position: relative;
  max-width: 1110px;
  width: 100%;
  min-height: 218px;
}

.reminder {
  font-family: 'Montserrat-semi';
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: rgb(255, 82, 83);
}

.swiper {
  display: flex;
  height: 480px;
  padding: 0 5px;
}

.pagination {
  width: 100%;
}

@media (max-width: 768px) {
  .card-chronicle {
    min-height: 204px;
  }
}

@media (max-width: 680px) {
  .card-chronicle {
    min-height: 182px;
  }
}
